@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  input,
  textarea {
    padding: 0.8rem;
    border: 1px solid $highlightColor;
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: Open Sans, sans-serif;
    background-color: $brandColor;
    box-shadow: 0 1px 2px;
    width: 100%;
    outline: none;
    box-sizing: border-box;

    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }

  small {
    color: red;
    font-size: 0.9rem;
  }
}

.contact__successMessage {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $complementaryColor;
  font-size: 1.4rem;
  text-align: right;

  h3 {
    margin: 0;
    font-size: 1.5rem;
    color: $complementaryColor;
  }

  p {
    margin: 0;
  }

  @media (max-width: 1023px) {
    text-align: center;
    align-items: center;

    h3 {
      text-align: center;
    }
  }
}

.contact__icon {
  font-size: 2.5rem;
  color: $complementaryColor;
  margin-bottom: 0.5rem;
}



  





    
  
  